.block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 0 10px;
}

.block__card {
    width: 90%;
    height: auto;
    border: 1px solid var(--main-green);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.card__question_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.question_title__question {
    width: 70%;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: solid var(--main-green) 2px;
}

.question_title__combobox {
    height: 25px;
    border: solid var(--main-green) 1px;
    width: 25%;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 0) and (max-width: 460px) {
    .block__card {
        width: 80%;
    }
}