.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background: var(--main-green);
    padding: 0 1rem;
}

.navbar * {
    color: var(--white);
}

.menu {
    display: flex;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: min(1170px, 100vw);
    align-items: center;
    gap: 25px;
}

.enterBtn {
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--white);
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.enterBtn:hover {
    background: var(--white);
    color: var(--main-green);
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.item > a {
    text-decoration: none;
}

@media screen and (min-width: 0) and (max-width: 320px) {
    .menu {
        display: block;
    }
}