.item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    background: var(--main-green);
    width: 36px;
    height: 36px;
}

.item:hover {
    background: var(--light-green);
}
